* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
}

canvas {
  z-index: 100;
  display: block;
  position: absolute;
  inset: 0;
}

.side-menu {
  position: absolute;
  right: 2%;
  top: 10%;
  z-index: 200;
}

.controls,
.data {
  background: #ffefd8;
  border: solid 1px #607179;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 0.8em;
}

.data {
  margin-bottom: 20px;
  font-weight: 500;
}

.data > div {
  margin-bottom: 0.4em;
  font-weight: 600;
}

.data > div > span {
  font-weight: 400;
}

.controls > div {
  padding: 8px;
}

.controls .form-group:not(:last-child) {
  width: 100%;
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
}

.controls .form-group label {
  width: 20% !important;
}

.controls .form-group input {
  width: 70%;
  background: white;
  border-radius: 5px;
}

.controls .launch-btn {
  width: 100%;
  cursor: pointer;
  background: #4a95b5;
  color: #fff;
}

.controls input,
.controls button {
  background-color: transparent;
  border: 1px solid #444;
  padding: 3px;
  margin-left: 4px;
}

.controls input:disabled,
.controls button:disabled {
  opacity: 0.5;
  border: none;
}

.controls button {
  border-radius: 5px;
}

.controls button:hover {
  opacity: 0.7;
}

.controls button:hover:disabled {
  background-color: transparent;
  color: grey;
}

.reset-btn {
  border-radius: 50%;
  outline: none;
  color: red;
  background: #fff;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 200;
  height: 100px;
  width: 100px;
  background-color: #999;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -moz-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -ms-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: -o-linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  background-image: linear-gradient(
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 0%, 0.1)
  );
  border: none;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.25),
    inset 0 2px 0 hsla(0, 0%, 100%, 0.1), inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.5), 0 0.25em 0.25em hsla(0, 0%, 0%, 0.1);
  color: #444;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.5em 0.75em;
  text-decoration: none;
  text-shadow: 0 1px 1px hsla(0, 0%, 100%, 0.25);
  vertical-align: middle;
}

.reset-btn:hover {
  outline: none;
}

.reset-btn:hover,
.reset-btn:focus {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.25),
    inset 0 2px 0 hsla(0, 0%, 100%, 0.1), inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 -0.25em 0 hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 3em hsla(0, 0%, 100%, 0.2), 0 0.25em 0.25em hsla(0, 0%, 0%, 0.1);
}

.reset-btn:active {
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.25),
    inset 0 2px 0 hsla(0, 0%, 100%, 0.1), inset 0 1.2em 0 hsla(0, 0%, 100%, 0.1),
    inset 0 0 0 3em hsla(0, 0%, 100%, 0.2),
    inset 0 0.25em 0.5em hsla(0, 0%, 0%, 0.05), 0 -1px 1px hsla(0, 0%, 0%, 0.1),
    0 1px 1px hsla(0, 0%, 100%, 0.25);
  margin-top: 0.25em;
  outline: none;
  padding-bottom: 0.5em;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: -1;
}

.background > div {
  position: relative;
}

.grass,
.sky {
  position: relative;
}

.sky {
  height: 60%;
  background: skyblue;
}

.grass {
  height: 40%;
  background: seagreen;
}

.road {
  height: 50%;
  position: absolute;
  top: 20%;
  border: 20%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.road::before {
  content: "";
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 45%;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s /* delay somewhere after duration */ linear infinite
    reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0;
  animation: wind 50s linear infinite reverse;
}

#fireball {
  position: absolute;
  z-index: 300;
  width: 20px;
  height: 20px;
  display: none;
}

/* KEYFRAMES */

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1550px);
  }
}

@keyframes wind {
  from {
    left: -300px;
  }
  to {
    left: 100%;
  }
}

@keyframes jump {
  0% {
    top: -40px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: -40px;
  }
}
